/* checkResults.css */

div.container {
  padding: 10px;
  font-family: Arial, sans-serif;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f9f9f9;
}

th {
  font-weight: bold;
}

p {
  font-size: 1rem;
}
