.nav-wrapper {
  background-color: #659377;
  border-bottom: 5px solid #093238;
  color: #f1f8e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  user-select: none;
  transition: transform 0.3s ease;
  margin-bottom: 40px;
}

.nav-hidden {
  transform: translateY(-100%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  list-style-type: none;
  z-index: 200;
}

.nav-wrapper h1 {
  font-size: 1.5rem;
  margin: 0;
}

.icon-wrapper {
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.animate-icon {
  animation: pop-spin 0.4s ease;
}

nav a {
  color: #f1f8e9;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid rgba(241, 248, 233, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #1e9965;
  color: #f1f8e9;
}

nav.big-screen {
  position: static;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
}

nav.big-screen a {
  border: none;
  padding: 0.5rem;
}

nav.big-screen a li {
  text-decoration: underline;
  list-style: none;
}

nav.mobile {
  background-color: #659377;
  padding: 1rem 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
nav.mobile a {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

nav.mobile.show a {
  opacity: 1;
  transform: translateY(0);
}

nav.mobile.show a {
  opacity: 1;
  transform: translateY(0);
}

/* Animation */
@keyframes pop-spin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.3) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
