* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: rgb(9, 50, 56);
}

main {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media print {
  .no-print {
    display: none !important;
  }
}
